/* Palette colori */

/* Color Cube */
$seo-alabaster: #F8F8F8;
$seo-deep-cove: #051745;
$seo-daisy-bush: #351BA2;
$seo-scorpion: #5D5C5D;
$seo-purple-heart: #8532E6;
$seo-pale-slate: #BCBBBC;
$seo-yellow-orange: #FFA837;
$seo-science-blue: #0369D7;
$seo-jade: #02CA6B;
$seo-java: #19D5E3;

/* Medina Cut */
$seo-lucky-point: #1A236C;
$seo-concrete: #F3F3F3;
$seo-victoria: #5B4792;
$seo-regent-grey: #818E9D;
$seo-di-serria: #DD9F4D;

/* Material Design */
$seo-purple-heart-vibrant: #5926C0;
$seo-scorpion-muted: #5A5759;
$seo-jacksons-purple: #2A1999;
$seo-millbrook: #594035;
$seo-tulip-tree: #ECA447;